body {
    background-color: lightgreen;
}

h1 {
    text-align: center;
    font-family: Andale Mono, monospace;
    color: black;
}

h2 {
    font-family: Andale Mono, monospace;
    color: black;;
}

h3 {
  font-family: Andale Mono, monospace;
  color: black;;
}

p {
    font-family: sans-serif;
    color:black;
    margin: 20px;
}

button {
  width: auto;
  height: 50px;
  padding: 10px 20px;
  margin: 5px;

  background-color: blue;
  color: white;
  
  font-family: sans-serif;
  font-size: 20px;

  border-radius: 10px;
}

.box {
  border: 2px solid #333;
  padding: 20px;
  width: 700px;
  max-width: 100%;

  border-radius: 20px;
  background-color: lightgreen;
  box-shadow: 5px 10px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}